In [1]:
# Import Dependancies
import pandas as pd

In [2]:
# import and make dataframe from vine_table.csv 
vine_df = pd.read_csv("sql_tables/vine_table.csv")
vine_df.dropna()
vine_df.head()

C:\Users\Josue\AppData\Local\Temp\ipykernel_27724\645689225.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vine_df = pd.read_csv("sql_tables/vine_table.csv")

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4,0.0,0.0,N,N
2,RY8I449HNXSVF,5,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5,0.0,0.0,N,Y

In [3]:
#Create new dataframe keeping only the rows with >=20 "total_votes"
vine_votes_df = vine_df[vine_df['total_votes']>=20]
vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [4]:
#Create a new Dataframe from vine_votes_df to keep rows where ("helpful_votes/total_votes") >= .5
vine_helpful_df = vine_votes_df[vine_votes_df['helpful_votes']/vine_votes_df['total_votes'] >= .5]
vine_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y

In [5]:
# Create Dataframe where that retrievs all rows with "vine" == "Y"
vine_paid_df = vine_helpful_df[vine_helpful_df['vine'] == 'Y']
vine_paid_df.head()
vine_paid_df.count()

review_id            613
star_rating          613
helpful_votes        613
total_votes          613
vine                 613
verified_purchase    613
dtype: int64

In [6]:
# Create Dataframe where that retrievs all rows with "vine" == "N"
vine_unpaid_df = vine_helpful_df[vine_helpful_df['vine'] == 'N']
vine_unpaid_df.head()
vine_unpaid_df.count()

review_id            64968
star_rating          64968
helpful_votes        64968
total_votes          64968
vine                 64968
verified_purchase    64968
dtype: int64

In [7]:
# Calculate the # of Reviews for Vine Program members, the # of 5 star reviews and the % 5 star reviews

vine_paid_cnt  = vine_paid_df['review_id'].count()
vine_paid_5star = vine_paid_df['review_id'][vine_paid_df['star_rating'] == 5].count()
vine_paid_5star_percent = vine_paid_5star/vine_paid_cnt * 100

print(f"""There were {vine_paid_cnt} reviews from Vine Members, with {vine_paid_5star} 5-star reviews or 
                  {vine_paid_5star_percent:.1f}% of all Vine Member reviews.""")

There were 613 reviews from Vine Members, with 200 5-star reviews or
                  32.6% of all Vine Member reviews.

In [8]:
# Calculate the # of Reviews for non-Vine Program members, the # of 5 star reviews and the % 5 star reviews

vine_unpaid_cnt  = vine_unpaid_df['review_id'].count()
vine_unpaid_5star = vine_unpaid_df['review_id'][vine_unpaid_df['star_rating'] == 5].count()
vine_unpaid_5star_percent = vine_unpaid_5star/vine_unpaid_cnt * 100

print(f"""There were {vine_unpaid_cnt} reviews from non-Vine Members, with {vine_unpaid_5star} 5-star reviews
            or {vine_unpaid_5star_percent:.1f}% of all non-Vine Member reviews.""")

There were 64968 reviews from non-Vine Members, with 28842 5-star reviews
            or 44.4% of all non-Vine Member reviews.